/*nav bar and header*/
header{
    font-family: 'tangerine',sans-serif;
    color: pink;
    font-size: 100px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    height: 120px;
}
header div{
    line-height: 120px;
}

body{
    background-image: url(bimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: black;
    border-bottom: 1px solid #ccc;
    height: 3em;
}
.navbar ul{
	list-style: none;
    width: 100%;
	margin: 0;
    padding: 0; 
    
}
.navbar ul li{
    float: left; 
    text-align: center;
    width: 16.6667%;
}
.navbar li a{
	display: block;
	padding: 15px 15px;
	text-decoration: none;
	font-weight: bold;
	color: white;
    border-right: 1px solid #ccc;
    height: 1em; 
}
.navbar li:first-child a{
    border-left: 1px solid #ccc;
    
}
.navbar li a:hover{
	color: blueviolet;
    background-color: white; 
}

/*logo*/
.homepagelogo{
    width: 100%;
    height: 450px;
}

.tcontainer {
    position: relative;
    text-align: left;
    
}
centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*our detail*/
.row {
    display: flex;
}

.ourpromotion{
    height: 300px;
    width: 300px;
}
.ourtreatment{
    height: 300px;
    width: 300px;
}
.appointmentlogo{
    height: 300px;
    width: 300px;
}
.container{
    position: relative;
}
.text{
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay{
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}
.column:hover .overlay{
    bottom: 0;
    height: 100%;
}

/*slideshow*/

.slideshow-container {
    width: 90%;
    position: relative;
    margin: auto;
   
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }



/*footer*/
.footer{
    font: small;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}
.copyright{
    flex: 50%;
    padding: 0;
    height: 10px; 
    text-align: center;
    line-height: 50px;
}
.pagelink{
    flex: 50%;
    padding: 0;
    height: 10px; 
    text-align: center;
    line-height: 50px;
}
.icon{
    flex: 50%;
    padding: 0;
    height: 10px; 
    text-align: center;

}
.copyright a{
    text-decoration: none;
    height: 25px;
    font-size: 15px;
    color: white;
}
.pagelink a{
    text-decoration: none;
    height: 25px;
    padding:10px;
    font-size: 15px;
    color: white;
}
.icon a{
    text-decoration: none;
    height: 15px;
    padding:20px;
    font-size: 18px;
    color: white;
}

/*row column*/
.imagebox{
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
}
  
.imagebox img{
    opacity: 1;
    transition: 0.5s opacity;
}
  
.imagebox .imagebox-desc{
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    color: white;
    font-size: 1.2em;
    left: 100px;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 270px;
}
  
.imagebox:hover img{
    opacity: 0.7;
}
  
.imagebox:hover .imagebox-desc{
    padding-bottom: 10%;
}
  
.col-sm-4{
    flex: 50%;
    padding: 0;
    height: 300px; 
    text-align: center;
}

form{
    text-align: center;
    font-size: 15px;
}
.container2{
    border: 1px solid grey  ;
    background: grey ;
    height: 180px;
}